section.routine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 539px;
    background-image: url('./assets/Rectangle 48.png');
    position: relative;

    p {
        width: 563px;
        line-height: 24px;
        color: #ffffff;
        text-align: center;
    }

    button.retake {
        color: #ffffff;
        background-color: #ffffff00;
        border: 1px solid #ffffff;
        margin-top: 30px;
        padding: 12px 50px;
    }

    button.retake:hover {
        border: #ffffff00;
    }
}

section.routine::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

section.routine>* {
    position: relative;
    z-index: 2;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 36px;
    border-radius: 8px;
    position: absolute;
    top: 500px;
    z-index: 100;

    h3 {
        text-align: center;
        font-size: 24px;
        width: 100%;
        font-weight: 600;
        max-height: 85px;
        overflow: hidden;
        margin-bottom: 0;
    }

    .daily-routine {
        background-color: #EEF7FB;
        width: 350px;
        height: 421px;
        border-radius: 8px;
        align-items: center;

        p {
            color: #1C2635;
            width: 231px;
            text-align: left;
            line-height: 23px;
            margin: 10px auto;
        }
    }

    .products-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product {
        width: 350px;
        height: 420px;
        position: relative;
    }

    img {
        width: 100%;
        height: 345px;
        border-radius: 8px;
    }

    p.price {
        color: #1C2635;
        text-align: center;
        width: 350px;
        font-size: 19.5px;
        margin-top: 0;
    }

    .heart {
        width: 20px;
        height: 18.35px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('https://cdn-icons-png.flaticon.com/512/2/2267.png');
        position: absolute;
        left: 300px;
        bottom: 340px;
        cursor: pointer;
    }

    .heart.liked {
        background-image: url('https://static.vecteezy.com/system/resources/previews/018/868/329/non_2x/red-heart-symbol-on-transparent-background-free-png.png');
        position: absolute;
        left: 300px;
        bottom: 340px;
        cursor: pointer;
    }

    .next {
        color: #1C2635;
        background-color: #EEF7FB;
        border-radius: 30.03px;
        width: 50.06px;
        height: 50.06px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
    }

    .next::before {
        content: url('./assets/Vector(1).png');
    }

}

.page-indicators {
    display: flex;
    justify-content: center;
    position: relative;
    top: 480px;
    height: 100px;
}

.page-indicator {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.page-indicator.active {
    background-color: #5BC1ED;
}

@media screen and (max-width: 1250px) {
    section.routine {
        p {
            font-size: 12px;
            width: 80%;
        }
    }

    .products {
        flex-direction: column;

        .products-container {
            width: 800px;
        }

        h3 {
            overflow: visible;
            font-size: 17px;
            width: 100%;
            margin: 10px;
        }

        .daily-routine {
            width: 100%;
            height: fit-content;
            padding: 40px 0;
            margin-top: 40px;

            p {
                width: 300px;
            }
        }

        .heart,
        .heart.liked {
            left: 350px;
            bottom: 400px;
        }

        .product {
            margin-top: 130px;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 70%;
        }
    }

    .page-indicators {
        top: 1000px;
    }
}

@media screen and (max-width:950px) {

    .daily-routine {
        p {
            font-size: 12px;
        }
    }

    .products {

        h3 {
            overflow: visible;
            margin-bottom: 0 !important;
        }

        .products-container {
            flex-direction: column;
            width: fit-content;
        }

        .next {
            margin: 50px 0;
            width: 200px;
        }

        .next::before {
            content: 'Show more';
        }
    }

    .page-indicators {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .products {

        .heart,
        .heart.liked {
            left: 300px;
        }
    }
}

@media screen and (max-width: 340px) {
    .products {

        .heart,
        .heart.liked {
            left: 240px;
        }
    }
}